.react-datepicker,
.react-datepicker__header,
.react-datepicker__input-container input {
    background-color: #111827 !important;
    border-color: #374151 !important;
    color: #fff !important;
}

.react-datepicker__header {
    border-bottom-color: #374151;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
    color: #8488AC;
}

.react-datepicker__day:hover {
    background-color: #374151 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: #E27625;
}

.react-datepicker-popper {
    z-index: 10;
}